modules = ["nodejs-20"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NameVerse Server"

[[workflows.workflow]]
name = "NameVerse Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd NameMeaningApiDocumentation && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32863
externalPort = 3000

[agent]
expertMode = true
